anyio==3.4.0
asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
configparser==5.2.0
fastapi==0.70.1
filelock==3.4.2
h11==0.12.0
httptools==0.3.0
huggingface-hub==0.2.1
idna==3.3
joblib==1.1.0
numpy==1.22.0
opencv-python==4.5.5.62
packaging==21.3
Pillow==8.4.0
pydantic==1.9.0
PyMySQL==1.0.2
pyparsing==3.0.6
python-dotenv==0.19.2
python-multipart==0.0.5
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
sacremoses==0.0.46
shutils==0.1.0
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
tokenizers==0.11.1
torch==1.10.1
torchvision==0.11.2
tqdm==4.62.3
transformers @ git+https://github.com/huggingface/transformers@e68c3756fea7c811d02b8470539ae17ec3ec0e71
typing_extensions==4.0.1
urllib3==1.26.7
uvicorn==0.16.0
uvloop==0.16.0
watchgod==0.7
websockets==10.1
